
<ul id="nav">
  <li><a href="#Contact">Contact</a></li>
  <li><a href="#About">About</a></li>
  <li><a href="#home">Home</a></li>
</ul>

<div id="home" name="home">
  <div id="image-container">
  <img id="my-image" align="middle" src="assets/Me.jpg">
  </div>
  <div id="image-text">
  <h1 class="h2" style="float: left; max-width: 300px; margin: 50px">Hello My Name Is Conner West</h1>
  <h1 class="h2"  style="float: right; max-width: 300px; margin: 50px">I Am A 19 Year Old Full Stack Developer</h1>
  </div>
</div>
<div id="About" name="About">
  About
  Job, Bio, Skills, projects, education, links
</div>
<div id="Contact" name="Contact">
  Contact 
  email,
  form:
  name,
  email,
  company / organisation,
  You need a,
  budget,
  deadline,
  project details,
  send
</div>