    <div class=" buisness-card ">
      <md-card class="example-card">
        <md-card-header>
          <div>
            <div class="hoja hoja2"></div>
          </div>
        </md-card-header>
        <md-card-content>
          <div class="content">
            <h3> Conner West </h3> <br />
             Web Developer 
             <br /> 
             <a href="https://www.linkedin.com/in/conner-west-1a489a134/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
             <a href="https://github.com/CWestBlue"> <i class="fa fa-github" aria-hidden="true"></i></a> <br />
             Email: <a href="mailto:connerwest565@gmail.com">connerwest565@gmail.com</a><br />
          </div>
        </md-card-content>
      </md-card>
    </div>
    